.lines {
	.chart {
    	d3-line-chart {
      		height: 300px;
      		width: 600px;
      		display: block;

      		path {
        		stroke-width: 1;
        		fill: none;
        		shape-rendering: auto;
      		}
    	}
	}
    #sliderOutput {
      display: table-cell;
      vertical-align: middle;
      height: 75px;
    }
}

